<nav class="clearfix">
    <h2 class="nav-text float-left">Glitter Text</h2>
    <div class="float-right">
        <p class="display-inline-block">Hello, <%= Helpers.current_user(session).username %>!</p>
        <a href="/drawings/new" class="button display-inline-block">+ New Drawing</a>
        <a href="/logout" class="button display-inline-block">Log out</a>
    </div>
</nav>
<h1 class="text-center">My Drawings</h1>
<ul>
    <% Drawing.all.each do |drawing| %>
    <li><a href="/drawings/<%= drawing.id %>"><%= drawing.title %></a></li>
    <% end %>
</ul>