<h1>Make a new Glitter Text</h1>
<form method="post" action="/drawings">
    <div>
        <label for="title">Title</label>
        <input type="text"name="title">
    </div>
    <div>
        <label for="content">Content</label>
        <input type="text" name="content">
    </div>
    <div>
        <h4>Theme</h4>
        <input type="radio" name="theme" id="theme_1" value="glitter">
        <label for="theme_1">Glitter</label>
        <input type="radio" name="theme" id="theme_2" value="airmail">
        <label for="theme_2">Airmail</label>
        <input type="radio" name="theme" id="theme_3" value="witchy">
        <label for="theme_3">Witchy</label>
        <input type="radio" name="theme" id="theme_4" value="dank">
        <label for="theme_4">Dank</label>
    </div>
    <input type="submit">
</form>