<nav><h2 class="nav-text"><a href="/">Glitter Text</a></h2></nav>
<div class="flex-container">
    <div class="home-button-box">
        <h1 class="text-center">Log In to Glitter Text</h1>
        <form method="post" action="/login">
            <div class="mt-20">
                <label for="username">Username</label><br>
                <input type="text" name="username">
            </div>
            <div class="mt-20 mb-20">
                <label for="password">Password</label><br>
                <input type="password" name="password"><br>
            </div>
            <input type="submit" class="button margin-center">
        </form>
    </div>
</div>