<div class="home-background">
    <div class="home-button-box">
        <h1 class="home-h1">Glitter Text</h1>
        <div class="text-center">
          <a href="/signup" class="button">Sign Up</a>
          <a href="/login" class="button">Log In</a>
        </div>
    </div>
</div>