<!DOCTYPE html>
<html>
  <head>
      <link href="../../css/style.css" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Creepster|Work+Sans:700|Pacifico" rel="stylesheet">
    <title></title>
    <style> 
    body {
        font-family: 'Pacifico', cursive;
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>