<!DOCTYPE html>
<html>
  <head>
      <link href="../../css/style.css" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Creepster|Work+Sans:700|Pacifico|Shrikhand" rel="stylesheet">
    <title>Glitter Text</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>