<!DOCTYPE html>
<html>
  <head>
      <link href="../../css/style.css" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Creepster|Pacifico" rel="stylesheet">
    <title>Glitter Text</title>
  </head>

  <body>
    <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

    <%= yield %>
  </body>
</html>